<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    
    <form action="/postRegister" method="post">
        <section class="leftCard">
            <h1>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg>
                LEDGE
            </h1>
            <h2>Join Us</h2>
        </section>
        <section class="child">
            <div>
                <h2>Personal Info</h2>
                <input type="text" name="Fname" id="fname" placeholder="First Name">
                <input type="text" name="Lname" id="lname" placeholder="Last Name">
                <input type="text" name="Phone" id="ph" placeholder="Phone">
                <span>Next</span>
                <section class="errShow">
                    Please fill every field
                </section>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                <h2>Credentials</h2>
                <input type="email" name="Email" id="email" placeholder="Email" required>
                <input type="password" name="Password" id="password" placeholder="Password" required>
                <input type="password" id="cpassword" placeholder="Confirm Password" required>
                <span>Submit</span>
                <section class="errShow">
                    Check Confirm Password
                </section>
            </div>
        </section>

    </form>

    <script>
        document.querySelector(".child div:nth-of-type(2) span").addEventListener("click",()=>{
            if(document.querySelector("#password").value == document.querySelector("#cpassword").value){
                document.querySelector("form").submit();
            }else{
                document.querySelector(".child div:nth-of-type(2) .errShow").style.opacity = "1";
                setTimeout(()=>{
                    document.querySelector(".child div:nth-of-type(2) .errShow").style.opacity = "0";
                },3000);
            }
        });

        document.querySelector(".child div:nth-of-type(1) span").addEventListener("click",()=>{
            if(document.querySelector("#fname").value && document.querySelector("#lname").value && document.querySelector("#ph").value){
                if(document.querySelector("#ph").value.length == 10){
                    document.querySelector(".leftCard").style.borderRadius = "2em 0em 0em 2em";
                    document.querySelector(".leftCard").style.transform = "translateX(-36em)";
                }else{
                    document.querySelector(".child div:nth-of-type(1) .errShow").innerHTML = "Phone is short";
                    document.querySelector(".child div:nth-of-type(1) .errShow").style.opacity = "1";
                    setTimeout(()=>{
                        document.querySelector(".child div:nth-of-type(1) .errShow").style.opacity = "0";
                        document.querySelector(".child div:nth-of-type(1) .errShow").innerHTML = "Please fill every field"
                    },3000);
                }
            }else{
                document.querySelector(".child div:nth-of-type(1) .errShow").style.opacity = "1";
                setTimeout(()=>{
                    document.querySelector(".child div:nth-of-type(1) .errShow").style.opacity = "0";
                },3000);
            }
            
        });

        document.querySelector(".child div:nth-of-type(2) svg").addEventListener("click",()=>{
            document.querySelector(".leftCard").style.borderRadius = "0em 2em 2em 0em";
            document.querySelector(".leftCard").style.transform = "translateX(0em)";
        });
    </script>
</body>
</html>